<!DOCTYPE html>
<html lang="en">
<body>
<h1> TinyApp <h1/>

<% if (username) { %>
  <h5> <%= username %> </h5>
  <form method="POST" action="/logout">
    <button type="submit" >Logout</button>
  </form>
<% } else { %>
  <form method="POST" action="/login" style="margin:50px">
    <label for="username">Login:</label>
    <input id="username" type="text" name="username" style="width:75px">
    <input type="submit" value="Login">
  </form>
<% } %>

</body>
</html>