<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h2> Welcome back! Log in below: </h2>
  <form method="POST" action="/login">
    <label for="email"> Enter your email:</label>
    <input id="email" type="text" name="email" placeholder="you@email.com">
    <label for="password" type="password" name="password"> Enter a password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Login">
  </form>

</body>
</html>