<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h2> Don't have an account? Register below! </h2>
  <form method="POST" action="/register">
     <label for="username">Username:</label>
    <input id="username" type="text" name="username" style="width:75px">
    <label for="email"> Email:</label>
    <input id="email" type="text" name="email" placeholder="you@email.com">
    <label for="password" type="password" name="password"> Password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Register">
  </form>

</body>
</html>