<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>

  <form method="POST" action="/register">
    <label for="email"> Enter your email:</label>
    <input id="email" type="text" name="email" placeholder="you@email.com">
    <label for="password" type="password" name="password">
    <input id="password" type="password" name="password">
  </form>



<form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>



</body>
</html>