<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include('partials/_header') %>

      <h1> <%= urls[shortURL] %> : <%= shortURL %> </h1>

  <a href='/urls/new' > Shorten another link! </a>
</body>
</html>